@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,800&display=swap");

$primary: #f3f3f3;
$font-color: #374957;
$dark: #15878c;
$highlite: #ffb229;
$blips: $font-color;
$light-green: #f3f9f9;
$nav-pills-link-active-bg: $dark !important;
$heading-font-size: 18px;
$normal-font-size: 14px;
$xl-heading: $heading-font-size + 10px;

*,
*::after,
*::before {
  font-family: "Poppins", sans-serif !important;
}
html {
  scroll-behavior: smooth !important;
  font-size: 16px !important;
}
p {
  color: $primary;
  font-size: $normal-font-size;
}

.input__box {
  background-color: $primary !important;
  border: 1px solid $primary !important;
  height: 40px !important;
  font-size: $normal-font-size !important;
}
.input__box:hover {
  border-color: $font-color !important;
}
.input__box:focus {
  border-color: $dark !important;
}
.btn__cta {
  background-color: $dark !important;
  border: none !important;
  height: 40px !important;
  font-size: $normal-font-size !important;
  cursor: pointer;
  color: $primary !important;
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 5px !important;
}
.btn__cta:hover {
  background-color: darken($dark, 10%) !important;
}

@import "~bootstrap/scss/bootstrap";
